In [25]:
import pandas as pd
import numpy as np
csv_url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
df = pd.read_csv(csv_url)
#df.info()
print(df)

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [33]:
print(df[['Name','BIP']])

       Name   BIP
0   Germany  3466
1     Japan  4938
2    Canada  1529
3     Italy  1850
4  Brazilia  1798

In [52]:
last_four = df[1:]
print(last_four)
#df.tail(4)
last_four_names = df['Name'][1:]
print(last_four_names)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL
1       Japan
2      Canada
3       Italy
4    Brazilia
Name: Name, dtype: object

In [65]:
all_with_eur = df['Name'][df['Currency'] == 'EUR']
print(all_with_eur)

0    Germany
3      Italy
Name: Name, dtype: object

In [68]:
new_df = df[['Name', 'Currency']]
print(new_df)

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [71]:
above_2000_bip = df[df['BIP'] > 2000]
print(above_2000_bip)

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [84]:
inhabitants_50_to_150 = df[(df['People'] > 5000000) & (df['People'] < 150000000)]
print(inhabitants_50_to_150)

      Name     People     Area   BIP Currency
0  Germany   82521653   357385  3466      EUR
1    Japan  126045000   377835  4938      YEN
2   Canada   36503097  9984670  1529      CAD
3    Italy   60501718   301338  1850      EUR

In [89]:
df.rename(columns={'BIP':'Bip'}, inplace=True)
print(df)

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [99]:
sum_bip = df['Bip'].sum()
print("Summe: ", sum_bip)

Summe:  13581

In [102]:
avg_people = df['People'].mean()
print(avg_people)

102786293.6

In [104]:
sorted_by_name_alphabetical = df.sort_values('Name')
print(sorted_by_name_alphabetical)

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [147]:
df_copy = df.copy(deep=True)

condlist = [df_copy['Area'] <= 1000000, df_copy['Area'] > 1000000]
choicelist = ["SMALL", "BIG"]
df_copy['Area'] = np.select(condlist, choicelist)

print(df)
print(df_copy)

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL
       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL